/* CSS Documentation */

/* Resetting Default Margin for All Elements */
* {
    margin: 0;
}

/* Styling for the Body */
body {
    box-sizing: border-box;
    padding: auto 50px;
    background-image: url('images/hero-bg-image.jpg');
    background-size: cover;
}

/* Styling for the Form */
form {
    width: 650px;
    padding: 25px;
    font-size: 1.2rem;
    color: white;
    display: block;
    margin: 20px auto;
}

/* Styling for Headings */
h1 {
    margin-bottom: 15px;
}

/* Styling for All Form Elements (except h1) */
form *:not(h1){
    padding-left: 15px;
}

/* Styling for Last Name Input Field */
#lastName {
    margin-bottom: 10px;
}

/* Styling for User Email Input Field */
#userEmail {
    margin: 10px;
    margin-left: 30px;
}

/* Styling for All Input Fields henceforth after last name and email id input fields*/
input {
    height: 30px;
    width: 300px;
    margin-left: 20px;
    border-radius: 15px;
}

/* Styling for Input Field Placeholder Text */
input::placeholder {
    color: rgba(16, 17, 17, 0.695);
}

/* Styling for Review Textarea */
#review {
    display: block;
    margin: 10px auto;
    height: 105px;
    width: 80%;
    border-radius: 5px;
}

/* Styling for Submit Button */
button {
    width: 119px;
    padding: 8px;
    padding-left: 8px;
    font-size: 1.2rem;
    color: white;
    background-color: #00baff;
    font-family: serif;
    border: none;
    border-radius: 2px;
    margin-left: 29px;
    margin-top: 11px;
}

/* Styling for Hover Effect on Submit Button */
button:hover{
    scale: 1.03;
    border-radius: 5px;
    transition: scale 0.2s, box-shadow 0.2s;
    box-shadow: 0px 0px 20px green; 
}